.main{
	color: #4AC20E;
	font-size: 22px
}
.bl{
	color: #3D58A6;
	font-size: 22px
}
.cont{
	color: #3D58A6;
	font-size:22px
}
.fro{
	color:#3D58A6;
	font-size: 30px
	
	}
	h1{
		border-top: solid;
		color: #4AC20E;
		border-left: solid;
		border-right: solid;
		border-bottom: solid;
	}
p{
	color: #3D58A6;
	font-size: 22px

}
.img2{
	margin-left: 70px
}